<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加 CAMERA 权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 声明相机硬件为可选 -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- 添加 INTERNET 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="GSG Wallet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnionCash"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 声明 RechargeActivity -->
        <activity
            android:name=".RechargeActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <!-- 声明 WithdrawActivity -->
        <activity
            android:name=".WithdrawActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <!-- 声明 ExchangeActivity -->
        <activity
            android:name=".ExchangeActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <!-- 声明 RechargeDetailActivity -->
        <activity
            android:name=".RechargeDetailActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <activity
            android:name=".UsdtDepositActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <activity
            android:name=".UsdtWithdrawActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <activity
            android:name=".UsdtExchangeActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <activity
            android:name=".QrCodeScannerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 选择合适的主题 -->

        <activity
            android:name=".AccountSecurityActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <activity
            android:name=".IdentityVerificationActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <activity
            android:name=".ServiceFeeActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

        <activity
            android:name=".AboutGSGWalletActivity"
            android:theme="@style/WhiteBackgroundTheme"
            android:exported="true" />

    </application>

</manifest>